html {
  height: 100%;
}
body {
  background-image: url('https://www.integrify.com/site/assets/files/2452/idea-management.jpg');
min-height: 100vh;
}
.image-overlay {
  background-color: rgba(5, 5, 0, 0.8);
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
.footer {
  position: sticky;
  top: 100%;
}

.brand {
  height: 70px;
  border-radius: 50%;
}



#share:hover {
  color: red !important;
}

@media(min-width: 1023px) {
  .half_width .container {
    max-width: 50%;
    min-height: auto;
  }
  .search_form {
    width: 30% !important;
  }
}
